@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  outline: none;
  flex-grow: 1;
  width: 220px;
  max-width: 300px;
  height: 400px;
  overflow: hidden;
  background-color: aqua;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0), 0 0 3px rgba(0, 0, 0, 0);
  border-radius: 5px 5px 0 0;
  color: black;
  transition: all 0.2s;
  background-color: orange;
  /*background-color 3s,transform 5s */
}
.card:hover, .card:focus {
  background-color: lightseagreen;
  transform: scale(1.03) skewX();
  transform-origin: bottom;
  box-shadow: 0 7px 8px rgba(0, 0, 0, 0.05) 0 3 3px rgba(0, 0, 0, 0.01);
  /* box-shadow: 0 7px 8px rgba(0, 0green, 0blue, 0.05),
  0 3 3px rgba(0, 0, 0, -0.01);*/
}
.card:nth-child(5n+1) {
  background-image: linear-gradient(to top, #db253d 5%, #804bbd 20%, #285e91 30%);
}
.card:nth-child(2n+1) {
  background-image: linear-gradient(to top, #978184 5%, yellow 20%, orange 30%);
}

.card_image--container {
  height: 200px;
  background-color: beige;
  /* overflow: hidden; */
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 200px, 0 180px);
  clip-path: polygon(0 0, 100% 0, 100% 200px, 0 180px);
  /* transform:scale(1.1) rotate(20deg); */
}

.card:hover .card_image--container, .card:focus .card_image--container {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 190px, 0 200px);
  clip-path: polygon(0 0, 100% 0, 100% 190px, 0 200px);
  /* transform:scale(1.1) rotate(20deg); */
}

.card-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.2s;
}

.card__content {
  padding: 1em;
}

.card:hover.card-image, .card:focus.card-image {
  transform-origin: center;
}

@media (min-width: 1024) {
  .card {
    min-width: 240px;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  .card {
    min-width: 400px;
    max-width: 500px;
    height: 200px;
  }

  .card__article {
    display: flex;
  }

  .card .card_image--container {
    width: 40%;
    -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
  }
  .card:hover .card_image--container, .card:focus .card_image--container {
    width: 40%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}
/* cards style */
.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 80rem;
}

.cols {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col {
  width: calc(25% - 2rem);
  margin: 1rem;
  cursor: pointer;
}

.container {
  transform-style: preserve-3d;
  perspective: 1000px;
}

.front,
.back {
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-position: center;
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: center;
  min-height: 280px;
  height: auto;
  border-radius: 10px;
  color: #fff;
  font-size: 1.5rem;
}

.back {
  background: #cedce7;
  background: linear-gradient(45deg, #cedce7 0%, #596a72 100%);
}

.front:after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  opacity: 0.6;
  background-color: #000;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
}

.container:hover .front,
.container:hover .back {
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.inner {
  transform: translateY(-50%) translateZ(60px) scale(0.94);
  top: 50%;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
  outline: 1px solid transparent;
  perspective: inherit;
  z-index: 2;
}

.container .back {
  transform: rotateY(180deg);
  transform-style: preserve-3d;
}

.container .front {
  transform: rotateY(0deg);
  transform-style: preserve-3d;
}

.container:hover .back {
  transform: rotateY(0deg);
  transform-style: preserve-3d;
}

.container:hover .front {
  transform: rotateY(-180deg);
  transform-style: preserve-3d;
}

.front .inner p {
  font-size: 2rem;
  margin-bottom: 2rem;
  position: relative;
}

.front .inner p:after {
  content: "";
  width: 4rem;
  height: 2px;
  position: absolute;
  background: #c6d4df;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -0.75rem;
}

.front .inner span {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Montserrat";
  font-weight: 300;
}

@media screen and (max-width: 64rem) {
  .col {
    width: calc(33.333333% - 2rem);
  }
}
@media screen and (max-width: 48rem) {
  .col {
    width: calc(50% - 2rem);
  }
}
@media screen and (max-width: 32rem) {
  .col {
    width: 100%;
    margin: 0 0 2rem 0;
  }
}
/* colorcitos */
/************************
            HEADER
***************************/
.main-header {
  display: flex;
  flex-direction: column;
}

#menu {
  display: none;
}
#menu:checked + .nav-bar {
  border: 2px solid darksalmon;
  display: block;
}
#menu:checked ~ .search-bar .menu-toggle__label {
  background-color: dodgerblue;
}

/*****************************************
     BARRA DE NAVEGACIÓN (NAV-BAR) -> Tiene adentro los UL's que es la LISTA de navegación de la Nav-bar.
******************************************/
/* Contiene toda la lista entera -> Contiene el NAV */
.nav-bar {
  background-color: #ddcad9ff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

/* Contiene el ul */
.nav-bar__nav-list {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}

/* Esto es el li */
.nav-bar__nav-item {
  text-align: center;
  box-sizing: content-box;
  border: 5px solid transparent;
}

/* Link de cada uno */
.nav-bar__nav-link {
  display: block;
  background-color: #ddcad9ff;
  color: black;
  padding: 0.7em 2em;
  text-decoration: none;
}

/* Hover para la línea de abajo */
.nav-bar__nav-list li:hover {
  border-bottom: 5px solid #7c616cff;
  transition: all ease 0.3s;
}

/************************
        SEARCH BAR
***************************/
.search-bar {
  display: flex;
  background-color: #7c616cff;
  justify-content: space-between;
}

.search-bar__logo-container,
.search-bar__form-container {
  padding: 1em;
}

/* LOGO */
.search-bar__logo-container {
  background-color: #d1b1cbff;
}

.search-bar__logo-makeup {
  width: 40px;
}

/* Contenedor de la Barra de búsqueda */
.search-bar__form-container {
  background-color: #d1b1cbff;
  flex-basis: 100%;
  display: flex;
  justify-content: flex-end;
}

/* El "Buscar" */
.search-bar__form-label {
  background-color: #d1b1cbff;
  margin-right: 0.5em;
}

/* El form para buscar -> Input */
.search-bar__form-search {
  width: 20%;
  background-color: #e5e9ecff;
  border-bottom: 1px solid #7c616cff;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  background-color: transparent;
}
.search-bar__form-search:focus {
  outline: none;
}
.search-bar__form-search::-moz-placeholder {
  font-family: "Montserrat", sans-serif;
  color: #7c616cff;
}
.search-bar__form-search:-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
  color: #7c616cff;
}
.search-bar__form-search::placeholder {
  font-family: "Montserrat", sans-serif;
  color: #7c616cff;
}

/* Botón de buscar con el Magnifying glass */
.search-bar__form-submit {
  margin-left: 0.5em;
}
.search-bar__form-submit:visited {
  color: #7c616cff;
}

/* Icono para buscar directamente */
.fa-search {
  margin-left: 0.5em;
  margin: auto;
}

.search-bar__carrito-container {
  flex-grow: 0 0 3em;
  background-color: powderblue;
}

/*********************************
    TOGGLE DEL MENU -> Son los que están después del Carrito
************************************/
.menu-toggle {
  display: none;
  background-color: skyblue;
  flex: 0 0 3em;
  position: relative;
  cursor: pointer;
}

.menu-toggle__label {
  display: block;
  background-color: #9c6410;
  /* width: 100%; --
  height: 100%; */
}

.menu-toggle__top-bread,
.menu-toggle__meat,
.menu-toggle__bottom-bread {
  display: block;
  background-color: black;
  height: 0.2em;
  position: absolute;
  left: 0.5em;
  right: 0.5em;
}

.menu-toggle__top-bread {
  top: 0.8em;
}

.menu-toggle__meat {
  top: 50%;
  margin-top: -0.1em;
}

.menu-toggle__bottom-bread {
  bottom: 0.8em;
}

/********************************
Es para los cambios según RESOLUCIÓN.
*********************************/
@media (max-width: 768px) {
  .main-header {
    flex-direction: column-reverse;
  }

  .menu-toggle {
    display: block;
  }

  .nav-bar {
    display: none;
  }

  .nav-bar__nav-list {
    flex-direction: column;
  }
}
.section-cards {
  background-color: #f1f2f3;
  padding: 1em;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}

@media (min-width: 1200px) {
  .cards-container {
    gap: 2em;
  }
}
/* colorcitos */
body {
  font-family: "Montserrat", sans-serif;
}/*# sourceMappingURL=main.css.map */