@charset "UTF-8";
/* colorcitos */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121212;
  color: #FEFEFE;
}

/* Para el scroll */
html {
  scroll-behavior: smooth;
  scroll-padding: 20%;
}

main {
  min-height: 100vh;
}

/* colorcitos */
.card {
  outline: none;
  flex-grow: 1;
  width: 300px;
  max-width: 300px;
  height: 400px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0), 0 0 3px rgba(0, 0, 0, 0);
  border-radius: 5px 5px 0 0;
}

.card-image {
  display: none;
}

/* This container is needed to position the front and back side */
.card__content {
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.card__flip {
  background-color: transparent;
  width: 300px;
  height: 400px;
  perspective: 1000px;
  /* Remove this if you don't want the 3D effect */
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.card__flip:hover .card__content {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.card__heading,
.card__description {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.card__heading {
  color: black;
  overflow: hidden;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
}
.card__heading h2 {
  padding: 0.5em;
}
.card__heading h3 {
  align-self: center;
  background-color: #007DFC;
  width: 100%;
  padding: 0.5em;
  color: #FEFEFE;
  margin-bottom: 1em;
}

/* Style the back side */
.card__description {
  padding: 1em;
  background-color: #2A2A2A;
  color: white;
  transform: rotateY(180deg);
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

/* Para los títulos H1 */
.card-category--container > h1 {
  border-bottom: 2px #999 solid;
  text-align: center;
  margin-top: 0.5em;
}

/* Resolución */
/* colorcitos */
/************************
            HEADER
***************************/
.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #2A2A2A;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  overflow: hidden;
}

#menu {
  display: none;
}
#menu:checked + .nav-bar {
  border-top: 2px solid #121212;
  display: block;
}
#menu:checked ~ .search-bar .menu-toggle__label {
  background-color: dodgerblue;
}

/*****************************************
     BARRA DE NAVEGACIÓN (NAV-BAR) -> Tiene adentro los UL's que es la LISTA de navegación de la Nav-bar.
******************************************/
/* Contiene toda la lista entera -> Contiene el NAV */
.nav-bar {
  display: flex;
  align-items: center;
  /* Contiene el ul */
  /* Hover para la línea de abajo */
  /* Esto es el li */
  /* Link de cada uno */
}
.nav-bar__nav-list {
  display: flex;
  list-style-type: none;
}
.nav-bar__nav-list li:hover {
  border-bottom: 5px solid #007DFC;
  transition: all ease 0.3s;
}
.nav-bar__nav-item {
  text-align: center;
  border: 5px solid transparent;
}
.nav-bar__nav-item:hover {
  border-bottom: 5px solid #007DFC;
  transition: all ease 0.3s;
}
.nav-bar__nav-link {
  display: block;
  background-color: #2A2A2A;
  color: #FEFEFE;
  padding: 0.7em 2em;
  text-decoration: none;
}

/************************
        SEARCH BAR
***************************/
.search-bar {
  display: flex;
  background-color: #2A2A2A;
  align-items: center;
  /* Contenedor de la Barra de búsqueda */
  /* LOGO */
  /* El "Buscar" */
  /* El form para buscar -> Input */
  /* Botón de buscar con el Magnifying glass */
}
.search-bar__form-container {
  background-color: #2A2A2A;
  flex-basis: 100%;
  display: flex;
  flex-wrap: nowrap;
  padding: 1em;
}
.search-bar__logo-container {
  color: white;
  display: flex;
  background-image: url(/imagenes/3cea5f4612af4064a81e846a1df2afdb.png);
  width: 270px;
  padding: 1em;
}
.search-bar__logo-container__image {
  height: 35px;
}
.search-bar__form-label {
  background-color: #2A2A2A;
  margin-right: 0.5em;
}
.search-bar__form-search {
  color: #FEFEFE;
  border-bottom: 1px solid #007DFC;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  background-color: transparent;
}
.search-bar__form-search:focus {
  outline: none;
}
.search-bar__form-search::-moz-placeholder {
  font-family: "Montserrat", sans-serif;
  color: #999;
  font-size: 1.2em;
}
.search-bar__form-search:-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
  color: #999;
  font-size: 1.2em;
}
.search-bar__form-search::placeholder {
  font-family: "Montserrat", sans-serif;
  color: #999;
  font-size: 1.2em;
}
.search-bar__form-submit {
  margin-left: 0.5em;
}
.search-bar__form-submit:visited {
  color: #121212;
}
.search-bar__carrito-container {
  flex-grow: 0 0 3em;
  background-color: #2A2A2A;
  padding-right: 1.6em;
}

#search-bar__button {
  display: none;
}

/* Icono para buscar directamente */
.fa-search {
  margin-left: 0.5em;
  margin: auto;
  color: #FEFEFE;
}

/*********************************
    TOGGLE DEL MENU -> Son los que están después del Carrito
************************************/
.menu-toggle {
  display: none;
  background-color: skyblue;
  flex: 0 0 3em;
  position: relative;
  cursor: pointer;
}
.menu-toggle__label {
  display: block;
}
.menu-toggle__top-bread, .menu-toggle__meat, .menu-toggle__bottom-bread {
  display: block;
  background-color: #FEFEFE;
  height: 0.2em;
  position: absolute;
  left: 0.5em;
  right: 0.5em;
}
.menu-toggle__top-bread {
  top: 0.8em;
}
.menu-toggle__meat {
  top: 50%;
  margin-top: -0.1em;
}
.menu-toggle__bottom-bread {
  bottom: 0.8em;
}

/********************************
Es para los cambios según RESOLUCIÓN.
*********************************/
@media (max-width: 768px) {
  .main-header {
    flex-direction: column-reverse;
  }

  .menu-toggle {
    display: block;
  }

  .nav-bar {
    display: none;
  }

  .nav-bar__nav-list {
    flex-direction: column;
  }

  .search-bar__logo-container {
    width: 40px;
    margin-left: 1em;
  }
}
.section-cards {
  padding: 1em;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
  margin-bottom: 5em;
  margin-top: 5em;
  /* Teclados */
}
.cards-container .card:nth-of-type(1) .card__heading {
  background-image: url(/imagenes/teclado-logitech.jpg);
}
.cards-container .card:nth-of-type(2) .card__heading {
  background-image: url(/imagenes/Teclado-gamer-HyperX.jpg);
}
.cards-container .card:nth-of-type(3) .card__heading {
  background-image: url(/imagenes/teclado-razer.jpg);
}
.cards-container .card:nth-of-type(4) .card__heading {
  background-image: url(/imagenes/redragon-teclado.jpg);
}

/* Microfonos */
#microphones__container .card:nth-of-type(1) .card__heading {
  background-image: url(/imagenes/microfono-razer_.jpg);
}
#microphones__container .card:nth-of-type(2) .card__heading {
  background-image: url(/imagenes/microfono_hyperX.jpg);
}
#microphones__container .card:nth-of-type(3) .card__heading {
  background-image: url(/imagenes/microfono_yeti.png);
}
#microphones__container .card:nth-of-type(4) .card__heading {
  background-image: url(/imagenes/microfono_snowball.jpg);
}

/*Headsets */
#headsets__container .card:nth-of-type(1) .card__heading {
  background-image: url(/imagenes/headset_hyperX.jpg);
}
#headsets__container .card:nth-of-type(2) .card__heading {
  background-image: url(/imagenes/headset_logitech.png);
}
#headsets__container .card:nth-of-type(3) .card__heading {
  background-image: url(/imagenes/headset_razer.png);
}
#headsets__container .card:nth-of-type(4) .card__heading {
  background-image: url(/imagenes/headset_redragon.png);
}

@media (min-width: 1200px) {
  .cards-container {
    gap: 2em;
  }
}
/* colorcitos */
body {
  font-family: "Montserrat", sans-serif;
}

.title {
  text-align: center;
  padding-bottom: 1.5em;
  padding-top: 1em;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 2em;
  justify-content: center;
  align-content: center;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  background-color: rgba(18, 18, 18, 0.4);
  max-width: 1000px;
  margin: auto;
  margin-bottom: 2em;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 0.5em;
}
.form-container input,
.form-container textarea,
.form-container option,
.form-container optgroup,
.form-container #shipping,
.form-container #id-container,
.form-container select {
  padding: 0.5em;
  border: 0;
  border-radius: 0.3em;
  font-family: inherit;
  font-size: inherit;
  color: #FEFEFE;
  background-color: #2A2A2A;
}
.form-container label {
  padding-bottom: 0.5em;
}
.form-container button {
  background-color: #007DFC;
  border: none;
  padding: 1em;
  color: #FEFEFE;
  font-family: inherit;
  font-size: inherit;
  border-radius: 0.3em;
}
.form-container button:hover {
  background-color: #218efc;
}

.form-container-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.form-container-row input {
  margin-left: 1.5em;
}

.background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

/* colorcitos */
footer {
  background-color: #2A2A2A;
  padding: 3em;
  display: flex;
  flex-direction: column;
}
footer li {
  list-style: none;
  margin-top: 0.5em;
}
footer:visited {
  color: #121212;
}
footer a {
  text-decoration: none;
  color: #FEFEFE;
}

/* Contiene dentro de un div a todo el footer */
.footer-lists {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  /* Las columnas del footer para que aparezcan una al lado del otra, separadas */
  /* Los iconos del Footer */
}
.footer-lists__column {
  display: flex;
  flex-direction: column;
}
.footer-lists__column-title {
  color: #007DFC;
  font-size: larger;
}
.footer-lists__column-list {
  margin-bottom: 2em;
}
.footer-lists__social-media {
  display: flex;
  flex-direction: row;
}
.footer-lists__social-media .fab {
  color: #007DFC;
  font-size: 2em;
  margin-left: 1em;
}

/* El Copyright */
.footer-copyright {
  margin-top: 2em;
  border-top: 2px #121212 solid;
  padding-top: 0.5em;
}

.contact-page-content {
  background-image: url(/imagenes/republicofgamers_asus.jpg);
  background-position: center;
  background-attachment: fixed;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex: 1;
  max-width: 750px;
}

.contact-form__container {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.contact-form__container input,
.contact-form__container textarea,
.contact-form__container option,
.contact-form__container optgroup,
.contact-form__container select {
  padding: 0.5em;
  border: 0;
  border-radius: 0.3em;
  font-family: inherit;
  font-size: inherit;
  color: #FEFEFE;
  background-color: #2A2A2A;
}
.contact-form__container button {
  background-color: #007DFC;
  border: none;
  padding: 1em;
  color: #FEFEFE;
  font-family: inherit;
  font-size: inherit;
  border-radius: 0.3em;
}
.contact-form__container button:hover {
  background-color: #218efc;
}

.main-contact {
  display: flex;
  justify-content: space-around;
  margin-top: 2em;
  padding: 2em;
}

.contact__content {
  flex: 2;
  max-width: 700px;
}

.contact__title {
  margin-bottom: 0.5em;
}

#contact-form__phone {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#contact-form__phone i {
  font-size: 25px;
  margin-right: 0.5em;
}
#contact-form__phone #area-code {
  margin-right: 1em;
  max-width: 160px;
}
#contact-form__phone #phone-number {
  flex-grow: 1;
}

.contact__icons--title {
  padding-top: 5em;
}

.contact__icons--container {
  display: flex;
  flex-direction: column;
  padding-top: 1em;
}
.contact__icons--container .fab {
  margin-right: 0.5em;
  color: #FEFEFE;
  font-size: 3em;
  color: #007DFC;
}

.contact__icons--social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1.5em;
}

.about-us-hero {
  display: flex;
  box-sizing: border-box;
  height: 90px;
  background-color: #007DFC;
  -webkit-clip-path: ellipse(66% 100% at 50.96% 0%);
          clip-path: ellipse(66% 100% at 50.96% 0%);
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  position: absolute;
}

/* BANNER */
.about-us-banner {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  padding-top: 3em;
}

/* La clase que contiene a TODOS */
.about-us {
  /* Encontranos! -> Donde esta el mapa */
  /* History Timeline */
  /* The actual timeline (the vertical ruler) */
  /* The actual timeline (the vertical ruler) */
  /* Container around content */
  /* The circles on the timeline */
  /* Place the container to the left */
  /* Place the container to the right */
  /* Add arrows to the left container (pointing right) */
  /* Add arrows to the right container (pointing left) */
  /* Fix the circle for containers on the right side */
  /* The actual content */
}
.about-us p {
  font-size: 1.4em;
}
.about-us__title {
  font-size: 2em;
}
.about-us__content {
  display: flex;
  justify-content: space-around;
  margin-top: 2em;
  padding: 2em;
}
.about-us__content-left {
  display: flex;
  flex-direction: column;
  margin-right: 2em;
  inline-size: 500px;
  overflow-wrap: break-word;
}
.about-us__content-right {
  display: flex;
  flex-direction: column;
}
.about-us__content-right li {
  list-style: none;
  margin-top: 0.5em;
  font-size: 1.4em;
}
.about-us__content-right li:hover {
  color: #218efc;
}
.about-us__content-right .fas {
  margin-right: 0.5em;
}
.about-us__content-right .fas:hover {
  color: #218efc;
}
.about-us__find-us {
  margin-bottom: 3em;
  display: flex;
  padding: 2em;
  justify-content: space-around;
  flex-wrap: wrap;
}
.about-us__text {
  display: flex;
  flex-direction: column;
  inline-size: 500px;
  overflow-wrap: break-word;
  margin-bottom: 2em;
}
.about-us__timeline {
  margin-top: 2em;
  margin-bottom: 2em;
}
.about-us__vertical-ruler {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}
.about-us__vertical-ruler::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: #FEFEFE;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}
.about-us__time-line-bubble {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}
.about-us__time-line-bubble::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: #007DFC;
  border: 4px solid #007DFC;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}
.about-us__time-line-bubble-left {
  left: 0;
}
.about-us__time-line-bubble-right {
  left: 50%;
}
.about-us__time-line-bubble-left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid #FEFEFE;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #FEFEFE;
}
.about-us__time-line-bubble-right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid #FEFEFE;
  border-width: 10px 10px 10px 0;
  border-color: transparent #FEFEFE transparent transparent;
}
.about-us__time-line-bubble-right::after {
  left: -16px;
}
.about-us__time-line-text {
  padding: 20px 30px;
  background-color: #FEFEFE;
  position: relative;
  border-radius: 6px;
  color: #121212;
}
@media screen and (max-width: 600px) {
  .about-us {
    /* Place the timelime to the left */
    /* Full-width containers */
    /* Make sure that all arrows are pointing leftwards */
    /* Make sure all circles are at the same spot */
    /* Make all right containers behave like the left ones */
  }
  .about-us__vertical-ruler::after {
    left: 31px;
  }
  .about-us__time-line-bubble {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
  .about-us__time-line-bubble::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  .about-us__time-line-bubble-left::after, .about-us__time-line-bubble-right::after {
    left: 15px;
  }
  .about-us__time-line-bubble-right {
    left: 0%;
  }
}

.hero-banner {
  width: 100%;
  background-image: url(/imagenes/discounts.png);
  padding-bottom: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.banner a {
  text-decoration: none;
}
.banner__container {
  margin: 1em;
  padding: 1.5em;
  width: 30%;
  min-height: 200px;
  min-width: 220px;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
  background-image: linear-gradient(to left, rgba(39, 52, 126, 0.3), rgba(0, 0, 0, 0.7)), url(/imagenes/hx-hero-headset-alpha-lg.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner__container:nth-of-type(2) {
  background-image: url(/imagenes/WowChakraBlackWidowV3Pro.jpg);
}
.banner__container:nth-of-type(3) {
  background-image: linear-gradient(to left, rgba(39, 52, 126, 0.3), rgba(0, 0, 0, 0.7)), url(/imagenes/yeti-x-hero-special-desktop.jpg);
}
.banner__container:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}
.banner__title {
  color: #FEFEFE;
  text-shadow: 1px 1px 2px black;
}/*# sourceMappingURL=main.css.map */