@import "../themes/theme";

.footer__container {
    background-color: $nav-bar-color;
    padding: 3em;
    display:flex;
    flex-direction: column;
    
    a {
        text-decoration: none;
    }

}



.footer-title {
    color: $highlight-color;
    font-size: larger;
}

.footer-copyright {
    border-top: 2px $background-color solid;
}
