@import "../themes/theme";

footer {
    background-color: $nav-bar-color;
    padding: 3em;
    display: flex;
    flex-direction: column;
    
    &:visited {
        color: $background-color;
    }
    a {
        text-decoration: none;
        color:$light-text-color;
    }
}

.footer-title {
    color: $highlight-color;
    font-size: larger;
}

.footer-copyright {
    border-top: 2px $background-color solid;
}
