@import "../themes/theme";

/************************
            HEADER
***************************/

.main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $nav-bar-color;
}

#menu {
    display: none;

    &:checked {
        + .nav-bar {
            border: 2px solid darksalmon;
            display: block;
        }

        ~ .search-bar .menu-toggle__label {
            background-color: dodgerblue;
        }
    }
}

/*****************************************
     BARRA DE NAVEGACIÓN (NAV-BAR) -> Tiene adentro los UL's que es la LISTA de navegación de la Nav-bar.
******************************************/
/* Contiene toda la lista entera -> Contiene el NAV */
.nav-bar {
    position: sticky;
    top: 0;
}

/* Contiene el ul */
.nav-bar__nav-list {
    display: flex;
    list-style-type: none;
}

/* Esto es el li */
.nav-bar__nav-item {
    text-align: center;
    border: 5px solid transparent;
}

/* Link de cada uno */
.nav-bar__nav-link {
    display: block;
    background-color: $nav-bar-color;
    color: $light-text-color;
    padding: 0.7em 2em;
    text-decoration: none;
}

/* Hover para la línea de abajo */
.nav-bar__nav-list li:hover {
    border-bottom: 5px solid $highlight-color;
    transition: all ease 0.3s;
}

/************************
        SEARCH BAR
***************************/

.search-bar {
    display: flex;
    background-color: $nav-bar-color;
}

.search-bar__logo-container,
.search-bar__form-container {
    padding: 1em;
    
}

/* LOGO */
.search-bar__logo-container {
    color: white;
    display:flex;
    
}


/* Contenedor de la Barra de búsqueda */
.search-bar__form-container {
    background-color: $nav-bar-color;
    flex-basis: 100%;
    

}

/* El "Buscar" */
.search-bar__form-label {
    background-color: $nav-bar-color;
    margin-right: 0.5em;
}

/* El form para buscar -> Input */
.search-bar__form-search {
    color:$light-text-color;
    border-bottom: 1px solid $highlight-color;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    background-color: transparent;
    

    &:focus {
        outline: none;
    }

    &::placeholder {
        font-family: "Montserrat", sans-serif;
        color:$secondary-text-color;
    }
}

/* Botón de buscar con el Magnifying glass */
.search-bar__form-submit {
    margin-left: 0.5em;

    &:visited {
        color: $background-color;
    }
}

/* Icono para buscar directamente */
.fa-search {
    margin-left: 0.5em;
    margin: auto;
    color:$light-text-color;
}

.search-bar__carrito-container {
    flex-grow: 0 0 3em;
    background-color: powderblue;
}

/*********************************
    TOGGLE DEL MENU -> Son los que están después del Carrito
************************************/

.menu-toggle {
    display: none;
    background-color: skyblue;
    flex: 0 0 3em;
    position: relative;
    cursor: pointer;
}

.menu-toggle__label {
    display: block;
    background-color: rgb(156, 100, 16);

    /* width: 100%; --
  height: 100%; */
}

.menu-toggle__top-bread,
.menu-toggle__meat,
.menu-toggle__bottom-bread {
    display: block;
    background-color: black;
    height: 0.2em;
    position: absolute;
    left: 0.5em;
    right: 0.5em;
}

.menu-toggle__top-bread {
    top: 0.8em;
}

.menu-toggle__meat {
    top: 50%;
    margin-top: -0.1em;
}

.menu-toggle__bottom-bread {
    bottom: 0.8em;
}

/********************************
Es para los cambios según RESOLUCIÓN.
*********************************/

@media (max-width: 768px) {
    .main-header {
        flex-direction: column-reverse;
    }

    .menu-toggle {
        display: block;
    }

    .nav-bar {
        display: none;
    }

    .nav-bar__nav-list {
        flex-direction: column;
    }
}
