@import "../themes/theme";
$card-height: 400px;
$card-width: 300px;

html {
    scroll-behavior: smooth;
}
.card {
    outline: none;
    flex-grow: 1;
    width: $card-width;
    max-width: 300px;
    height: $card-height;
    box-shadow: 0 1px 5px rgba(0, 0, 0, -2), 0 0 3px rgba(0, 0, 0, -4);
    border-radius: 5px 5px 0 0;
}

.card-image {
    display: none;
}
/* This container is needed to position the front and back side */
.card__content {
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.card__flip {
    background-color: transparent;
    width: $card-width;
    height: $card-height;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.card__flip:hover .card__content {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.card__heading,
.card__description {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.card__heading {
    color: black;
    overflow: hidden;
    height: $card-height;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;

    h2 {
        padding: 0.5em;
        align-self: flex-start;
    }
}

/* Style the back side */
.card__description {
    padding: 1em;
    background-color: $nav-bar-color;
    color: white;
    transform: rotateY(180deg);
    height: $card-height;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

@media (min-width: 1024) {
    .card {
        min-width: 240px;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .card {
        min-width: 400px;
        max-width: 500px;
        height: 200px;
    }

    .card__article {
        display: flex;
    }
}

/* BANNERS */

.banner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    a {
        text-decoration: none;
    }
    .banner__container:nth-of-type(2) {
        background-image: url(/imagenes/WowChakraBlackWidowV3Pro.jpg);
    }
    .banner__container:nth-of-type(3) {
        background-image: linear-gradient(
                to left,
                rgba(39, 52, 126, 0.3),
                rgba(0, 0, 0, 0.7)
            ),
            url(/imagenes/yeti-x-hero-special-desktop.jpg);
    }
}

.banner__container {
    margin: 1em;
    padding: 1.5em;
    width: 30%;
    min-height: 200px;
    min-width: 220px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
    background-image: linear-gradient(
            to left,
            rgba(39, 52, 126, 0.3),
            rgba(0, 0, 0, 0.7)
        ),
        url(/imagenes/hx-hero-headset-alpha-lg.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner__title {
    color: $light-text-color;
    text-shadow: 1px 1px 2px black;
}

.banner__container:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
}
