@import "../themes/theme";

body {
    background-color: $background-color;
    color: $light-text-color;
}

.section-cards {
    padding: 1em;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    margin-bottom: 5em;
    margin-top: 5em;

    /* Teclados */
    .card:nth-of-type(1) .card__heading {
        background-image: url(/imagenes/teclado-logitech.jpg);
    }
    .card:nth-of-type(2) .card__heading {
        background-image: url(/imagenes/Teclado-gamer-HyperX.jpg);
    }

    .card:nth-of-type(3) .card__heading {
        background-image: url(/imagenes/teclado-razer.jpg);
    }

    .card:nth-of-type(4) .card__heading {
        background-image: url(/imagenes/redragon-teclado.jpg);
    }
}

/* Microfonos */
#microphones__container {
    .card:nth-of-type(1) .card__heading {
        background-image: url(/imagenes/microfono-razer_.jpg);
    }
    .card:nth-of-type(2) .card__heading {
        background-image: url(/imagenes/microfono_hyperX.jpg);
    }
    .card:nth-of-type(3) .card__heading {
        background-image: url(/imagenes/microfono_yeti.png);
    }
    .card:nth-of-type(4) .card__heading {
        background-image: url(/imagenes/microfono_snowball.jpg);
    }
}

/*Headsets */
#headsets__container {
    .card:nth-of-type(1) .card__heading {
        background-image: url(/imagenes/headset_hyperX.jpg);
    }
    .card:nth-of-type(2) .card__heading {
        background-image: url(/imagenes/headset_logitech.png);
    }
    .card:nth-of-type(3) .card__heading {
        background-image: url(/imagenes/headset_razer.png);
    }
    .card:nth-of-type(4) .card__heading {
        background-image: url(/imagenes/headset_redragon.png);
    }
}

@media (min-width: 1200px) {
    .cards-container {
        gap: 2em;
    }
}
